<div *ngIf="tasksService.tasks" class="todo-list">
  <div class="list-container">
    <input 
    type="text"
    class="list-search"
    placeholder="search task"
    [(ngModel)]="term"
    appFocus
    >
    <app-todo-item
    class="app-todo-item" 
    *ngFor="let task of tasksService.tasks | filterTasks: term; let id = index" 
    [task]="task"
    [id]="id">
    </app-todo-item>
  </div>
</div>