.list-container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2em;
}

.list-container input {
  width: 100%;
  padding: 5px 5px 5px 15px;
  font-size: 1.25em;
  margin: 1em 0;
}