<div class="header">
  <div class="container">
    <h1 class="header-title"> TODO application </h1>
    
    <button 
    class="btn btn-taskAdd"
    (click)="modalService.open()"
    >+</button>
    <button
    class="btn btn-taskRemove"
    (click)="tasksService.removeAllTasks()">
    clear list of todos
  </button>
</div>
</div>