.container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color: rgb(166, 173, 173);
  padding: 2.5em;
}

.header-title {
  flex-grow: 1;
}



.btn-taskAdd {
  font-size: 1em;
  font-weight: bold;
  width: 50px;
}

.btn-taskAdd:hover {
  background-color: yellow;
}

.btn-taskRemove:hover {
  background-color: yellow;
}