
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 1;
  padding:30px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 600px;
  padding: 3em 4em 5em;
  background-color: #eee;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 20px;
}
