<div 
  class="modal"
  (click)="modalService.close()"
>
</div>

<div class="modal-content w-[500px] absolute top-16 rounded p-6 bg-white left-1/2 -translate-x-1/2">
  <h1 class="text-center mb-2 text-lg ">{{ title | titlecase }}</h1>
  <ng-content></ng-content>
</div>