.todo-item {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed gray;
  font-size: 1.5em;
}
.todoItem-description {
  display: flex;
}

.todoItem-description p{
  margin-left: 1em;
  margin-right: 2em;
}

.todoItem-btns{
  display: flex;
  flex-wrap: nowrap;
}

.todo-item--isImportant p {
  font-weight: 700;
}

.todo-item--isCompleted p {
  text-decoration: line-through;
}