<div class="todo-item"
      [ngClass]="{
      'todo-item--isImportant': task.isImportant,
      'todo-item--isCompleted': task.isComplited     
}"> 
<div class="todoItem-description">
    <span> {{ id + 1 }}: </span>
    <p *ngIf="task.isImportant">!!!</p>
    <p> {{ task.description | titlecase }}</p>
    <p *ngIf="task.isImportant">!!!</p>
  </div>
  <div class="todoItem-btns">
    <button 
      class="btn btn--complete"
      (click)="tasksService.completeTask(id)"
      > done</button>
    <button 
      class="btn btn--delete"
      (click)="tasksService.removeTask(id)"> remove task</button>
  </div>
</div>