<div class="wrapper">
  <app-header></app-header>
  <app-todo-list></app-todo-list>
  <app-modal 
    title="Create new task"
    *ngIf="modalService.isVisible$ | async"
  >
    <app-create-todo></app-create-todo>
  </app-modal>
</div>