<form [formGroup]="form" (ngSubmit)="submit()" class="header-controlForm">
    <input 
      type="text"
      class="input-text"
      placeholder="Add new task"
      formControlName="description"
      appFocus
      >

      <input 
      type="checkbox"
      class="input-check"
      formControlName="importance"
      >
    
    <p 
      class="header-checkWarning"
      *ngIf="description.errors?.['minlength'] && description.touched"
      >Please fill title field width min length - 4</p>
  
    <button
      type="submit"
      class="btn"
      [disabled]="!form.valid">
      Create
    </button>
</form>
