.header-controlForm {
  flex-basis: 50%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  position: relative;
}

.header-controlForm .input-text {
  padding-left: 10px;
  flex-grow: 2;
}

.header-controlForm .input-check {
  margin-left: 1em;
}

.header-checkWarning {
  width: 500px;
  position: absolute;
  left: 0;
  top: 40px;
  color: rgb(255, 0, 0);
}

.header-controlForm .btn:disabled {
  background-color: rgba(241, 5, 5, 0.7);
}

.header-controlForm .btn {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 5, 0.7);
}