/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  height: 50px;
  background-color: #fff;
  padding: 0.75em;
  color: blue;
  border-radius: 15px;
  margin-left: 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: serif;
  cursor: pointer;
}

.btn--complete {
  background-color: rgb(52, 247, 3);
}
.btn--delete {
  background-color: rgb(255, 230, 0);
}